header{
    background-color: lightgrey;
}
footer{
    background-color: lightgrey;
    padding: 20px;
}
a{
    background-color: grey;
    border-radius: 20px;
}
img{
    margin-left: 50%;
    transform: translateX(-50%);
}